/****SIDE-NAV****/

.sidebar {
    background: #FAFAFA;
    padding: 32px, 20px;
}

.nav-group {
    margin-top: 0.5em;
}

.nav-heading{
    color: darkgray;
    font-weight: bold;
}

.nav-entry a{
    color: steelblue;
}

.nav-entry:hover{
    background-color: lightgray;
}


.row{
    max-width: 200rem;
}

/****METRIC-DISPLAY****/

.metric-info {
    margin: 3em 2em 2em 3em 
}

/****MISC****/

.chart-panel {
    margin: 3em;
}

.lead{
    font-size: 100%;
}

form .small-3.columns {
  padding: 0;
}
